

.wrapper
{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    height: 560px;
    width: 360px;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    font-family: sans-serif;
}

.title-screen
{
    /* display: block; */
}

.title-screen img
{
    position: absolute;
    top: 10px;
    right: 10px;
}

.title-screen div
{
    font-size: 40px;
    color: red;
    text-transform: uppercase;
    text-align: center;
    margin: 100px 0px;
}

.button
{
    color: white;
    font-size: 20px;
    background: red;
    text-transform: uppercase;
    border: 2px solid white;
    margin: 0 auto;
    display: block;
    padding: 10px 80px;
}

.title-screen button:hover
{
    color: red;
    background: white;
    border: 2px solid red;
}

#music_img
{
    background-color: grey;
    padding: 5px;
    border: 1px solid #e6e6e6;
    border-radius: 20%;
}

#instruction-screen
{
    display: none;
}

#instruction
{
    margin: 10px;
}

#instruction-title
{
    color: white;
    font-size: 20px;
    background: #666;
    text-align: center;
    padding: 5px 0px;
}

#instruction-part
{
    background: white;
    padding: 20px;

}

#instruction-description
{
    font-size: 23px;
    color: black;
    padding-bottom: 20px;
    letter-spacing: 1px;
    line-height: 30px;
}

#smiley
{
    text-align: right;
}

#game-screen
{
    display: none;
}

.smiley-box
{
    width: 18px;
    border: 1px solid white;
    border-radius: 20%;
    background: #ffdb4d;
    padding: 4px;
}

#smiley-group
{
    text-align: center;
}

#question
{
    padding: 5px;
    margin: 5px auto;
    letter-spacing: 1px;
    line-height: 23px;
    background: white;
    
}

#face
{
    text-align: center;
}

#fill-ups
{
    display: flex;
}

#answer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#answerfield
{
    font-size: 40px;
    text-align: center;
    margin: 20px auto;
}

#letter-blank
{
    display: flex;
    align-content: center;
    margin-right: 5px;

}
#letter
{
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}

#blank
{
    height: 3px;
    width: 30px;
    background: black;
}

#hint-box
{
    display: flex;
    margin-bottom: 10px;

}

#hint-button
{
    color: red;
    background: yellow;
    border: 1px solid white;
    border-radius: 10%;
    text-transform: uppercase;
    font-size: 18px;
    padding: 12px 22px;

}

#hint-button:disabled {
    background: gray;
}

#hint-text
{
    border: 2px solid #ccc;
    /* border-radius: 20%; */
    height: 50px;
    width: 80%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;

}

.keypad-line
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.keypad-button
{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    background: red;
    border: 2px solid white;
    border-radius: 25%;
}

